tr:nth-child(even) {background: none}
.add-form{
    display: block;
    width: 100%;
}
.add-form>div{
    width: 100%;
    margin: 20px 0;
}
#container{
    width: 40%;
}
input{
    width: 100%;
    min-height: 38px;
}
select{
    width: 100%;
    min-height: 38px;
}
.table_title{
    margin-top: 20px;
}
